# Ignore build artifacts
cmake-build-debug
# ide
.idea
.vscode
# macos trash
*.dSYM
/keyboard/readscancode
/build/
/cmake-build-minsizerel/
/cmake-build-release/
# SystemVerilog build artifacts
sv/build/
*.vvp
*.vcd
*.lxt
